@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Barlow', sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #837676;
    color: #fff;

}

.music-container {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 10px 10px 0 rgba(255, 255, 255, 0.9);
}